.carousel-body {
    margin-bottom: 1rem;
    margin-top: 1rem;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }

.carousel-body:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.image-section {
  display: flex;
  justify-content: center;

}

.carousel-body .movie-poster {
  max-width: 190px;
  max-height: 400px;
  border-radius: 10px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

