#dialog {
    position: relative;
    z-index: 20;
}

#dialog #backdrop {
    position: fixed;
    inset: 0;
    background-color: black;
    opacity: 0.9;
}

#dialog .dialog-container {
    z-index: 21;
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}