.movie-credit-list-section {
    display: flex;
    justify-content:space-around;
}

.movie-credit-list-section .profile-section {
    display: flex;
    margin: 10px;
    align-items: center;
}

.movie-credit-image {
    height: 100px;
    width: 100px;
    border-radius: 25px;
    object-fit: cover;
}

.biography-paragraph {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 10; /* number of lines to show */
            line-clamp: 10; 
    -webkit-box-orient: vertical;
}

