.movie-credit-list-section {
    display: flex;
}

.profile-section {
    display: flex;
    margin: 10px;
    align-items: center;
}

.movie-credit-image {
    max-height: 150px;
    border-radius: 15px;
}

